{% load static %}
<!--Author: Swathi Anandram, Supreetha M A-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Twitter Assignment</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-static/">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{% static 'navbar-top.css" rel="stylesheet' %}">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{% url 'index_page' %}">Twitter Assignment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index_page' %}">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <main role="main" class="container">
    <div class="jumbotron" style="text-align: center;">
      <h1>Welcome to Twitter! All Tweets!</h1>
      <a class="btn btn-primary" href="{% url 'create_tweet' %}">
        New Tweet
      </a>
    </div>

    {% for tweet_id, tweet_records in all_tweets.items %}
        <div class="card text-center">
          <div class="card-body">
          <div style="float: left;top: 20px;position: relative;">
          <img src="https://img.icons8.com/color/50/000000/twitter--v2.png"/>
          </div>
        {% for key,value in tweet_records.items %}
            <div >
              {% if key == 'user_name' %}
              <h5 style="position: relative;
              right: 44%;">@{{value}}</h5>
              {% elif key == 'tweet' %}<h6 style="max-width: 80%;
              left: 39px;
              right: 30px;
              position: relative;">{{ value }}</h6>
              {% elif key == 'created_at' %}
              <h6 style="position: relative;
              left: 42%;top: -50px;">{{value}}</h6>
              {% endif %}
              </div>
          {% endfor %}
          <form action="{% url 'delete_tweet' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="tweet_id" value="{{tweet_id}}" />
            <input class="btn btn-danger my-2 my-sm-0" type="submit" value="Delete" style="float: right;">
          </form>
        </div>
        </div>
    {% endfor %}
  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
